html, body {
  width: 100%; 
  height:100%; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow:hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  z-index: 1;
  background-color: rgba(33, 33, 33, 0.5);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro {
  position: relative;
  display: flex;
  height: 100vh;
}

.intro__media{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ccc;
  background-size: cover;
}

.introContent {
  z-index: 10;
  display: flex;
  height: 100%;
  border-right: 1px solid #fff;
  justify-content: center;
  padding: 50px;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
}

.introContentInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.intro__media::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0,0,0,0.5);
}

.bunkerBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.joinCreateLobby {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 110%;
}

.joinLobbyButton {
  background-color: #282c34;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  font-size: 10px;
  width: 100%;
  cursor: pointer;
}

.createLobbyButton {
  background-color: #282c34;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  font-size: 10px;
  width: 100%;
  cursor: pointer;
}

.rulesBtn{
  margin-top: 10px;
  width: 110%;
}

.rulesButton {
  background-color: #282c34;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  font-size: 10px;
  width: 100%;
  cursor: pointer;
}

.userNameInputForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.loginInput {
  background-color: #282c34;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  font-size: 10px;
  width: 100%;
}

.loginHeading {
  font-size: 50px;
  margin-bottom: 10px;
  color: #ccc
}

.RulesOutterContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}

.RulesInnerContainer {
  display: inline-block;
  background-color: #282c34;
  width: 80%;
  height: 80%;
  border-radius: 5px;
  z-index: 20;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.closeRulesButton {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 10px;
  height:30px;
  width: 50px;
  cursor: pointer;
}

.RulesHeadding {
  display: flex;
  flex-direction: row;
}

.RulesContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: white;
  overflow-y: scroll;

}

.RulesSpan {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.TableList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
}

.TableListWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.RulesH1 {
  color: white;
}